:root{
    --green: rgb(82, 116, 100);
    --blue_grey: rgb(61, 173, 155);
    --def_back: rgb(231, 228, 216);
    --foot_light_green: rgb(209, 216, 216);
}

html, body{
    max-width: 100%;
    margin:0;
    /* margin: 0 180px 0 0; */
    padding: 0;
    background-color: rgb(241, 227, 227);
}



footer{
    margin: 0;
    padding: 0;
    min-height: 30%;
    max-width: 100%;
}


.myfooter{
    display: flex;
    width: 100%;
    height: 30%;
    margin-left: auto;
    flex-direction: column;
    text-align: left;
}

.myfooter a:visited, a::before, a{
    text-decoration: none;
    color:black;
}

.myfooter a:hover{
    color: grey;
}

.info_footer{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 85%;
    max-width: 100%;
    padding-top: 2%;
    background-color: var(--foot_light_green);
}


.info_text{
    display:flex;
    flex-direction: column;
    height: 80%;
    margin-right: 2%;
}

.inofo_icons{
    height: 20%;
}

.info_text .title{
    color: rgb(212, 151, 36);
    font-size: 140%;
    font-weight: bold;
    align-self: flex-start;
}

.info_text ul{
    list-style-type: none;
    margin-top: 2%;
    padding: 0
}

.info_text ul li{
    color: black;
    font-size: 120%;
    font-weight: none;
}

.copyright_footer{
    display: flex;
    flex-flow: row;
    padding: 2px 2% 2px ;
    max-height: 15%;
    max-width: 100%;
    justify-content: flex-end;
    background-color: var(--blue_grey);
    align-items: flex-end;
}