.history_back{
    display:flex;
    height:91.5vh;
    justify-content: center;
}

.history_wrap{
    display:flex;
    flex-wrap: wrap;
    min-height: 400px;
    height: 80vh;
    margin-top: 5vh;
    width:80%;
    margin-left: 10vh;
    background-color: rgba(121, 179,140,0.3);
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0 7px 12px rgba(0,0,0,0.6);
}

.history_wrap .myflex_row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width:100%;
    padding: 0px 10px 0 10px;
    justify-content: space-between;
    min-height: 12vh;
}

.history_wrap .myflex_row:hover{
    background-color:rgba(0,0,0,0.1);
}

.history_wrap .labels:hover{
    background-color: transparent !important;
}

.history_wrap .row_divider_wrap{
    display: flex;
    flex-flow: column;
    width:100%;
    min-height: 12vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.history_wrap .myflex_row .myflex_item{
    display: flex;
    /* border: 2px solid blue; */
    flex-flow: column;
    height: auto;
    min-width: 16%;
    max-width: 16%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.history_wrap .labels{
    font-weight: 600;
    font-size: 120%;
    padding: 20px 10px 0 10px;
    /* max-height: 3vh ; */
    min-height: 10vh;
}

.history_wrap .endDate{
    min-width: 20% !important;
    max-width: 20% !important;
}

.history_wrap .sprint{
    min-width: 10% !important;
    max-width: 10% !important;
}

.history_wrap .labels .mydivider{
    width: 100%;
    margin: 0 auto 0 auto;
    border-bottom: 2px solid black;
}

.history_wrap .row_divider_wrap .mydivider{
    width: 95%;
    margin: 0 auto 0 auto;
    border-bottom: 2px solid black;
}