.history_back{
    display:flex;
    height:91.5vh;
    justify-content: center;
}

.history_wrap{
    display:flex;
    flex-wrap: wrap;
    min-height: 400px;
    height: 80vh;
    margin-top: 5vh;
    width:80%;
    margin-left: 10vh;
    background-color: rgba(121, 179,140,0.3);
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 0 7px 12px rgba(0,0,0,0.6);
}

.history_wrap .myflex_row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width:100%;
    padding: 0px 10px 0 10px;
    justify-content: space-between;
}

.history_wrap .myflex_row .myflex_item{
    display: flex;
    /* border: 2px solid blue; */
    flex-flow: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-content: center; */
    height: auto;
    min-width: 16%;
    max-width: 16%;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    overflow: hidden;
}

.history_wrap .labels{
    font-weight: 600;
    font-size: 120%;
    padding: 20px 10px 0 10px;
}

.history_wrap .endDate{
    min-width: 20% !important;
    max-width: 20% !important;
}

.history_wrap .sprint{
    min-width: 10% !important;
    max-width: 10% !important;
}

.history_wrap .labels .divider{
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid black;
}

.history_wrap .myflex_row .divider{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid black;
}