/* * { */
    /* box-sizing: border-box; */
/* } */
/*   
body {
background: #0aa5b9 !important;
min-height: 100vh;
display:inline-block;
font-weight: 400;
}
*/

:root{
    --head_c: rgb(240, 170, 105);
    --head_c2: rgb(127, 56, 158);
    /* --light_green: rgba(181, 231, 212); */
}

body,
html,
.App,
.vue-template,
.vertical-center {
    width: 100%;
    height: 100%;
}
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* font-size: 50px; */
    /* padding-left: 50px; */
    /* padding-top: 50px; */
  }
  a {
    text-decoration: none;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ececec;
    margin: 1em 0;
    padding: 0;
  }

body{
    /* background-color: tomato; */
}

.space{
    position: static;
    display: none;
    width: 100%;
}

.navbar-light {
    background-color: white;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    animation: smoothScroll 2s forwards;
}

.vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;    
    margin-bottom: 100px;
    background-color:  rgba(181, 231, 212);
}

.inner-block {
    width: 550px;
    margin: auto;
    background: #ebf3f0;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
}

.vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

label {
    font-weight: 500;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7a7a7a;
    margin: 0;
}

.forgot-password a {
    color: #2554FF;
}

.social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #222222;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons ul li {
    display: inline-block;
    zoom: 1;
    width: 65px;
    vertical-align: middle;
    border: 1px solid #e3e8f9;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    background: #f4f6ff;
}

.social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
}
.social-icons ul li a i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    }

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
    transition: none;
    color: #222222;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--page_beneath);
    /* animation: smoothScroll 10s forwards; */
}

#image1{
    width: 550px;
    height: 400px;
    position: absolute;
    bottom: 5%;
  }
  
#image2{
    width: 500px;
    height: 400px;
    position: absolute;
    right: 3%;
    top: 5%;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-20px);
	}
    50%{
        transform: translateY(400px);
    }
	100% {
		transform: translateY(20px);
	}
}