:root{
    --green: rgb(72, 170, 124);
    --blue_grey: rgb(61, 173, 155);
    --def_back: rgb(231, 228, 216);
    --page_beneath:  rgb(241, 227, 227);
    /* --foot_light_green: rgba(163, 228, 201, 0.829); */
    --move_up: translateY(-27px);
    --red-orange: rgb(246, 143, 105);
    /* --light_green: rgba(181, 231, 212); */
}

.prices{
    align-self: center;
    position: static;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
    background-color: var(--blue_grey);
    padding: 10px 20% 150px 20%;
}

.price_box{
    /* margin-left: 100px; */
    color: Black;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    min-width: 20%;
    font-weight: bold;
    background-color: rgba(181, 231, 212, 0.918);
    border-radius: 20px;
    /* margin-right: 25px; */
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* box-shadow: -20px 20px 50px rgb(55, 143, 116), 10px 10px 20px rgb(71, 31, 31); */
    /* box-shadow: -20px 10px 30px rgb(0, 0, 0, 0.3), 20px 10px 30px rgb(0, 0, 0, 0.3); */
    box-shadow: -20px 20px 50px rgb(55, 143, 116, 0.5), 20px 20px 50px rgb(55, 143, 116, 0.5);
}

.price{
    margin-top: 17px;
    margin-bottom: 7px;
    font-size: 180%;
    color: black;
    padding-top: 0;
    width: 100%;
    color: red;
    display: flex;
    align-self: flex-end;
    justify-content: center
}

.prices .mytitle{
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 150%;
}

.mytitle::after{
    break-after: always;
}

.price_box .mytitle{
    width: 100%;
    display: flex;
    position: static;
    justify-content: center;
    align-content: center;
    color: var(--red-orange);
    font-size: 230%;
    position: static;
}

.price_box ul{
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.toogle-wrapper{
    position: static;
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
    font-size: 120%;
    align-items: center;
    width: 100%;
}

.my-custom-toggle{
    display: flex;
    background-color: rgba(187, 187, 187, 0.787);
    min-width: 30%;
    justify-content: space-evenly;
    display: flex;
    align-self: center;
    border-radius: 20px;
}


.button{
    position: static;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 40%;
    height: 100%;
    border-radius: 15px;
    color: white;
}



.price_box li{
    padding-top: 1px;
    display: flex;
    width: 100%;
    font-size: 110%;
    font-weight:400;
    align-items: center;
    /* justify-content: center; */
}



.pict{
    content: url(../img/check.svg);
    display: inline-block;
    margin-right: 10px;
    height: 35px;
    width: 30px;
}

.ftr-wrapper{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid red; */
}

.mybutton_wrapper{
    width: 100%;
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* align-self: flex-end; */
    /* padding-bottom: 40px; */
    /* border: 2px solid red; */
}

.mybutton{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--red-orange);
    align-content: center;
    align-items: center;
    border-radius: 13px;
    width: 90%;
    height: 40px;
    font-size: 120%;
    align-self: center;
    padding: 0px 2px 0px 2px;
    transition: width 1s;
}

.mybutton:hover{
    width: 230px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
    /* background-color: red; */
    /* animation-name: test; */
    /* animation-duration: 3s; */
}

@keyframes test{
    0%  {background-color: var(--red-orange);}
    25% {background-color: rgb(177, 104, 104);}
    50% {background-color: rgb(33, 204, 27);}
    75% {background-color: rgb(43, 84, 199);}
    100% {background-color: deeppink;}
}