
:root{
    --fullname_arrow_width: 80px;
    --fullname_arrow_height: 30px;
}

.wrap_projects{
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 5px 5px 10px;
    font-size: 25px;
    color: #79b38c;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    /* border: 2px solid red; */
}

.wrap_projects .overlay{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    margin: -20px -5px -5px -10px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    background-color: whitesmoke;
}

.wrap_projects .create_prj{
    position: absolute;
    margin: 5rem 0 0 7rem;
    width: 80%;
}

.wrap_projects .close_form{
    position:absolute;
    display: block;
    float: right;
    top:0;
    right:0;
    width: 40px;
    height: 40px;
    margin: 1rem 2rem 0 0;
}

.wrap_projects .create_prj .close_form .icon{
    width: 100%;
    height: 100%;
}

.projects_ul{
    columns: 2;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    padding-top: 20px;
}

.projects_ul button{
    display: flex;
}

.wrap_projects .mytitle{
    width: 60%;
    font-size: 100%;
    margin: 20px 0 20px 40px;
    text-decoration: underline;
}

.projects_ul li{
    display: flex;
    padding: 15px 10px 5px 0px;
    width: 35%;
    margin-left: 5%;
    font-size: 80%;
    align-items: flex-end;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.projects_ul li::after{
    margin: auto 0 auto auto;
    content: ">";
    font-size: 100%;
    font-weight: 100;
    /* opacity: 0.5; */
    color: black;
    align-self: auto;
}

.projects_ul li:hover::after{
    display:none;
}

.projects_ul li:hover > .partners_box{
    display: flex;
    animation-delay: 10s;
    animation: partners_magic 0.8s linear forwards;
}

@keyframes partners_magic {
    from{
        opacity: 0;
        width: 0;
        /* height: 0; */
    }
    to{
        opacity: 1;
        max-width: 50%;
        /* height: 80px; */
    }
}

.projects_ul li:hover > .projectTitle{
    animation: 0.6s li_magic  forwards;
}

@keyframes li_magic {
    from{
    }
    to{
        width: 30%;
        padding-right: 3px;
        font-size: 70%;
        align-items: center;
        border-right: 2px solid black;
        height: 100%;
    }
    
}

.projects_ul li:hover > .icon{
    align-self: center;
}

.projects_ul li .projectTitle{
    display: flex;
}

.projects_ul li .partners_box{
    display: none;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height: 80px;
    padding: 3px 2px 3px 10px;
    overflow: hidden;
}

.projects_ul li .partners_box::-webkit-scrollbar{
    display: none;
}

.projects_ul li .partners_box .partner{
    display: flex;
    position: relative;
    height: 30px;
    width: 30px;
    margin-bottom: 3px;
    margin-right: 6%;
}

.projects_ul li .partners_box .partner .mytxt{
    position: absolute;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.projects_ul li .partners_box .partner .fullname{
    display: none;
    position: fixed;
    padding: 2px 5px 2px 5px;
    transform: translateY(-30px);
    background-color: rgb(139, 139, 139);
    color: black;
    font-size: 80%;
    min-width: var(--fullname_arrow_width);
    height: var(--fullname_arrow_height);
    justify-content: center;
    opacity: 0.95;
}


.projects_ul li .partners_box .partner .fullname::before{
    position: absolute;
    content: "";
    height: 0;
    border: 7px solid;
    border-color: rgb(139, 139, 139) transparent transparent  transparent;
    margin-top: calc(-3px + var(--fullname_arrow_height));
    margin-left: calc(7px - calc(var(--fullname_arrow_width) / 2));
}

.projects_ul li .partners_box .partner .icon{
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.projects_ul li .partners_box .partner:hover > .fullname{
    display: flex;
}

@keyframes jumpy_projects {
    0%{transform: translateY(-10px);}
    50%{transform: translateY(20px);}
    100%{transform: translateY(-10px);}
    
}

.projects_ul li .icon{
    content: url(../img/project_default.svg);
    height: 40px;
    width: 40px;
    /* height: 100%; */
    /* width: 100%; */
    margin-right: 10px;
    margin-bottom: 5px;
}


.wrap_projects .create_btn{
    color: black;
    background-color: orange;
    opacity: 1;
    display: flex;
    width: 25%;
    height: 5%;
    font-size: 80%;
    padding: 5px 10px 5px 10px;
    margin: 10px auto 10px auto;
    padding: 20px 2px 20px 2px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.wrap_projects .create_btn:hover{
    opacity: 0.7;
}


.wrap_projects .mytitle > .icon{
    position: relative;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    z-index: 0;
    opacity: 1;
}