:root{
    --pict_size: 200px;
    --back_clr: rgba(234, 238, 234, 1);
}

.wrap{
    width: 100%;
    display: flex;
    position: static;
    height: 91.5vh;
    justify-content: space-around;
    background-color: rgba(230, 230, 230, 0.815); 
    /* background-color: rgb(212, 198, 198);   */
    padding: 20px 0 25px 0;
}

.big_wrap{
    display: flex;
    width: calc(1.5 * var(--pict_size));
    max-width: 25%;
}

.opts_wrap{
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 5px 20px grey;
    margin-top: calc(var(--pict_size) / 2);
    /* overflow: hidden; */
}



.pict_wrap{
    height: auto;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    margin-top: calc(var(--pict_size) / -2);
    background-size: 100% 100%;
    /* border: 2px solid red; */
}

.prof_pict{
    height: var(--pict_size);
    width: var(--pict_size);
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(236, 200, 149);
    box-shadow: 0 0 30px grey;
}


.pict_wrap .design{
    background-image: url(../img/design.svg);
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    align-self: flex-end;
    margin-left: -50px;
}

.prof_opts{
    display: flex;
    flex-flow: column;
    width:100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    /* border: 2px solid red; */    
    overflow: hidden;
}

.prof_opts .opt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 10px solid blue; */
    /* padding: 15px 5px 15px 5px; */
}

.prof_opts .opt_btn{
    display: flex;
    width: 100%;
    height: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 0px;
    /* color: white; */
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    font-weight: 500;
}

.prof_opts .opt_btn:focus{
    border-left:10px solid white;
    /* border-right:10px solid #29a19c; */
    background-color: #79b38c;
    color: rgb(47, 47, 47);
    transition: flood_left 0.5s;
    border-radius: -20px;
}

.prof_opts .opt_btn::after{
    display: none;
    width: 0;
    align-items: center;
    opacity: 0;
    height: 10px;
    padding-left: 10px;
    content: ">";
    font-size: 20px;
    overflow:hidden;
}

.prof_opts .opt_btn:hover::after{
    opacity: 1;
    display: flex;
    width:20px;
}

.prof_opts .opt_btn:focus::after{
    opacity: 1;
    display: flex;
    width: 20px;
}

.name{
    color: black;
    font-weight: 500;
    font-size: larger;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0 5px 0;
}


.prof_display{
    display: flex;
    padding: 30px 20px 30px 20px;
    font-size: 17px;
    /* background-color: whitesmoke; */
    width: calc(100% - calc(1.5 * var(--pict_size)px));
    max-width: 75%;
    border-radius: 30px;
    /* margin: 20px 0 20px 0; */
    padding: 20px 20px 10px 10px;
    /* box-shadow: 0px 5px 40px grey; */

}

.pressed{
    font-weight: none;
    font-size: none;
}

