.profUpgr_wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 0 5px 0;
    font-size: 25px;
    color: #79b38c;
    border-radius: 20px;
    align-content: flex-start;
    border-bottom-right-radius: 0;
    overflow-y: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.profUpgr_wrap .mytitle{
    font-size: 100%;
    width: 90%;
    margin: 20px 0 20px 40px;
}


.profUpgr_wrap .features{
    display: flex;
    justify-content: center;
    width: 35%;
    font-size: 90%;
    margin-top: 20px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: coral;
    /* background: rgba( 255, 255, 255, 0.35 ); */
    box-shadow: 0 8px 6px  rgba( 0, 0, 0, 0.2 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 0 10px 0;
}

.profUpgr_wrap .features_ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 50%;
    margin: 0 0 20px 0;
    padding: 15px 10px 20px 10px;
    color: black;
}

.profUpgr_wrap .values_wrap{
    display: flex;
    background-color: rgba(144, 143, 143, 0.103);
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.profUpgr_wrap .values_wrap .mssg{
    display: flex;
    text-align: left;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0;
    width: 30%;
}

.profUpgr_wrap .values_wrap .choose_price{
    display: flex;
    flex-wrap: wrap;
    font-size: 80%;
    align-content: center;
    font-size: 100%;
    justify-content: center;
    width: 25%;
    border: 1px solid rgba(0,0,0,0.1);
    color: black;
    border-radius: 10px;
}

.profUpgr_wrap .values_wrap .choose_price:hover{
    background-color: rgba(173, 216, 230, 0.2);
}

.profUpgr_wrap .values_wrap .selected{
    background-color: rgb(93, 197, 231);
    box-shadow: 0 4px 10px 1px rgba( 0, 0, 0, 0.3 );
}

.profUpgr_wrap .values_wrap .selected:hover{
    background-color: rgb(93, 197, 231);
}

.profUpgr_wrap .values_wrap .buy_btn{
    width: 15%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    border-radius: 30px;
    color: black;
    background-color:rgba(121, 179,140,0.8);
}

.profUpgr_wrap .values_wrap .buy_btn:hover{
    background-color:rgb(110, 189, 107);
}

.profUpgr_wrap .prem_mssg{
    margin: 0 auto 0 auto;
    padding: 2% 0 2% 0;
    height: auto;
    max-width: 70%;
    /* border: 2px solid red; */
    color:black;
}